a {
    text-decoration: none !important;
}
.side-nav {
    width: 120px !important;
}
ul span {
    font-size: 18px;
}
.logo {
    width: 60px;
    height: 62px;
    padding: 5px 0px;
}
main {
    padding-left: 120px;
}
#header {
    padding: 10px 0px;
}
#header .btn {
    background-color: #1d2d2b33;
}
.search-btn input {
    border-radius: 10px;
}


