<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="../static/common/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="../static/common/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/common/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>cloud disk</title>
</head>
<body>
<main>
    <nav class="grey">
        <div class="container-fluid">
            <div class="row">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">我的网盘</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <div class="search-btn input-group">
                                <input type="text" placeholder="search for..." >
                                <span class="input-group-addon"><i class="material-icons">search</i></span>
                            </div>
                        </li>
                        <li><a href="#">注销</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 pull-left">
                    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>上传</a>
                    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>下载</a>
                </div>
            </div>
        </div>
    </div>
</main>
<div id="sidebar">
    <ul class="side-nav fixed">
        <li>
            <div class="text-center">
                <a><img class="logo" src="../static/img/kenan.jpg"></a>
            </div>
        </li>
        <li class="text-center"><a class="collapsible-header   waves-effect waves-teal"><span>全部文件</span></a></li>
        <li class="text-center"><a class="collapsible-header   waves-effect waves-teal"><span>图片</span></a></li>
        <li class="text-center"><a class="collapsible-header   waves-effect waves-teal"><span>文档</span></a></li>
        <li class="text-center"><a class="collapsible-header   waves-effect waves-teal"><span>视频</span></a></li>
        <li class="text-center"><a class="collapsible-header   waves-effect waves-teal"><span>种子</span></a></li>
        <li class="text-center"><a class="collapsible-header   waves-effect waves-teal"><span>音乐</span></a></li>
    </ul>
</div>


</body>
</html>